<% if @gun.errors.any? %>
      <ul>
      <% @gun.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

<div class = "from-group">
	<%= f.label :name, "槍名" %>
	<%= f.text_field :name , :class => "from_control" %>
</div>
<div class = "from-group">
	<%= f.label :description, "槍枝射速" %>
	<%= f.text_field :description ,:class => "from_control"%>
</div>
<div class = "from-group">
	<%= f.label :capacity, "槍枝發明年份" %>
	<%= f.text_field :capacity,:class => "from_control" %>
</div>
<div class = "from-group">	
	<%= f.label :date, "製造日期" %>
	<%= f.date_select :date ,:class => "from_control"%>
</div>