<h1>Welcome to Matt's Gun heaven!</h1>
<br>
<%= form_for @gun do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= f.submit "建立/更新" , :class => "btn btn-primary" %>
<%end%>
<br>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th>槍名</th>
        <th>槍枝射速(發/分鐘)</th>
        <th>起源年份</th>
        <th>製造時間</th>
        <th>上架日期</th>
        <th>編輯<th>
        <th>刪除</th>
      </tr>
    </thead>
    <tbody>
      <% @guns.each do|gun| %>
	      <tr>
	        <td><%= gun.name%></td>
	        <td><%= gun.description%></td>
	        <td><%= gun.capacity%></td>
          <td><%= gun.date%></td>
          <td><%= gun.updated_at%></td>
          <td><%= link_to "Edit Me" , edit_gun_path(gun , :page => params[:page]) %></td>
	        <td><%= button_to "Kill Me", gun_path(gun, :page => params[:page]),:method => :delete,:data => { :confirm => "Are you sure?" }%></td>
	      </tr>
	    <%end%>
    </tbody>
</table>

<%= paginate @guns %>