<h1>新增槍枝明細如下：</h1>
<br>
<h4>槍名：<%= @gun.name %></h4>
<br>
<h4>槍速：<%= @gun.description %></h4>
<br>
<h4>槍枝起源年份：<%= @gun.capacity %></h4>
<br>
<h4>槍枝製造日期：<%= @gun.date %></h4>
<br>
<h4>槍枝上架日期：<%= @gun.updated_at %></h4>
<br><br>
<p><%= link_to "回到槍天堂首頁", guns_path %>